.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3399FF;
}
.navli{
	display: block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #FFCC99;
	text-decoration: underline;
	font-weight: bold;
}
a:active{
	color: #FFCC99;
	text-decoration: underline;
}
h2{
	color: #3399FF;
	text-align: center;
	text-shadow: 2px 2px 8px #00BFFF;
}
.more{
	grid-column: 2;
}
.rankings{
	color: #3399FF;
	text-align: center;
	border-bottom: 5px dashed #FF9966;
}
p{
	margin-left: 50px;
	margin-right: 50px;
	font-family: "Comic Sans MS";
	font-size: 17px;
}
body{
	border: 10px solid #FFCC99;
	background-color: #FFFAF0
}
.pic{
	border-style: solid;
	border-color: #FF9966;
}
div{
	padding-bottom: 20px;
}
.firstinfo{
	font-size: 17px;
	font-weight: bold;
	grid-column: 2;
	grid-row: 2;
	border: 5px solid #FF9966;
	border-radius: 5px
}
.secondinfo{
	font-size: 17px;
	font-weight: bold;
	grid-column: 2;
	grid-row: 4;
	border: 5px solid #FF9966;
	border-radius: 5px
}
.thirdinfo{
	font-size: 17px;
	font-weight: bold;
	grid-column: 2;
	grid-row: 6;
	border: 5px solid #FF9966;
	border-radius: 5px
}
.fourthinfo{
	font-size: 17px;
	font-weight: bold;
	grid-column: 2;
	grid-row: 8;
	border: 5px solid #FF9966;
	border-radius: 5px
}
.fifthinfo{
	font-size: 17px;
	font-weight: bold;
	grid-column: 2;
	grid-row:10; 
	border: 5px solid #FF9966;
	border-radius: 5px
}
.firstpic{
	grid-column: 4;
	grid-row: 2;
	border-style: solid;
	border-color: #FF9966;
}
.firstpic:hover{
	border-color: #3399FF;
}
.secondpic:hover{
	border-color: #3399FF;
}
.thirdpic:hover{
	border-color: #3399FF;
}
.fourthpic:hover{
	border-color: #3399FF;
}
.fifthpic:hover{
	border-color: #3399FF;
}
.secondpic{
	grid-column: 4;
	grid-row: 4;
	border-style: solid;
	border-color: #FF9966;
}
.thirdpic{
	grid-column: 4;
	grid-row: 6;
	border-style: solid;
	border-color: #FF9966;
}
.fourthpic{
	grid-column: 4;
	grid-row: 8;
	border-style: solid;
	border-color: #FF9966;
}
.fifthpic{
	grid-column: 4;
	grid-row: 10;
	border-style: solid;
	border-color: #FF9966;
}
.firstname{
	color: #FF9966;
	font-size: 20px;
	grid-row: 1;
	grid-column: 3;
}
.secondname{
	color: #FF9966;
	text-align: center;
	font-size: 20px;
	grid-row: 3;
	grid-column: 3;
}
.thirdname{
	color: #FF9966;
	text-align: center;
	font-size: 20px;
	grid-row: 5;
	grid-column: 3;
}
.fourthname{
	color: #FF9966;
	text-align: center;
	font-size: 20px;
	grid-row: 7;
	grid-column: 3;
}
.fifthname{
	color: #FF9966;
	text-align: center;
	font-size: 20px;
	grid-row: 9;
	grid-column: 3;
}
.weather-grid{
	display: grid;
	grid-template-columns: 60px auto 225px;
}
.firstvid{
	grid-column: 2;
	border: 5px solid #FF9966;
	border-radius: 5px;
	padding-right: 500px;
}
.firstvidname{
	grid-column: 2;
	color: #3399FF;
	text-align: left;
}
@media screen and (min-device-width: 780px) {
	.grid-container{
		display: grid;
		grid-template-columns: 5% 30% 15% 45% 5%;
		grid-template-rows: 50px auto 50px auto 50px auto 50px auto 50px auto;
	}
}
@media screen and (max-device-width: 780px) {
	.grid-container{
		display: grid;
		grid-template-rows: 50px auto 50px auto 50px auto 50px auto 50px auto;		
	}
}
.logo{
	float: left;
	padding: 10px;
}
#snowflakeContainer {
    	position: absolute;
   		left: 0px;
    	top: 0px;
    	display: none;
}

.snowflake {
    position: fixed;
    background-color: #00BFFF;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

